@charset "utf-8";

.gioithieu{
    background-color: #f1f1f1;
	text-align: center;
}
.gioithieu article{
    width:50%;
    float:left;
    background-color:#f0f0f0;
    padding:1em;
	text-align: center;
}
.gioithieu:after{
    content:"";
    clear:both;
    display:table;
}